/******
COMMON
******/

@use './variables' as *;

body {

  background-image: url('/src/img/Rick-and-Morty-Rick-Sanchez-TV-Adult-Swim-cartoon-1392025-wallhere.com.jpg');

  background-repeat: no-repeat;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 4 - 3rem);
  margin: 10px;
  color: white;


  img {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    overflow: hidden;

  }
}